<ion-header>
  <ion-navbar>
    <img class="header-logo" src="assets/images/logo.png" alt="">
    <div class="profile">
      <img class="profile-img" src="assets/images/img-profile.png" alt="">
      <span class="fa fa-angle-down"></span>
    </div>
    <span class="inbox fa fa-envelope-o"><span class="count-msg">1</span></span>
  </ion-navbar>

  <ion-list>
    <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
      <span class="label-{{p.title}}">{{p.title}}</span>
    </button>
  </ion-list>
</ion-header>

<ion-content padding>
<!-- <button ion-button full icon-left (click)="createCode()"><ion-icon name="barcode"></ion-icon>Create Code</button> -->
  <button ion-button full icon-left (click)="scanCode()" color="secondary"><ion-icon name="qr-scanner"></ion-icon>Scan Code</button>
 <!--  <ion-item>
    <ion-input type="text" placeholder="MY QR Code data" [(ngModel)]="qrData">
    </ion-input>
  </ion-item>
 -->  <!-- <ion-card *ngIf="createdCode">
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    <ion-card-content>
      <p>Value: {{ createdCode }}</p>
    </ion-card-content>
  </ion-card> -->
  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Result from Scan: {{ scannedCode }}
    </ion-card-content>
  </ion-card>
</ion-content>
