page-user-deals {
  .scroll-content {
    padding: 30px 0 !important;
  }

  .title {
    padding-left: 25px;
    margin: 0 16px 30px;

    text-align: left;
  }

  .holder-list {
    .holder-deal {
      position: relative;

      padding: 20px 16px;

      border-top: 1px solid #d7d7d7;

      &:last-child {
        border-bottom: 1px solid #d7d7d7;
      }

      .deal-info {
        width: 65%;

        p {
          margin: 0;
        }

        .deal-title {
          font-size: 18px;
          line-height: 1;
          color: #474747;
        }

        .deal-stamp {
          margin-top: 7px;

          font-family: 'Raleway Regular';
          font-size: 13px;
          color: #f59120;
        }

        .deal-expire {
          font-family: 'Raleway Regular';
          font-size: 13px;
          color: #474747;
        }
      }

      .btn-green {
        position: absolute;
        top: 0;
        right: 16px;
        bottom: 0;

        padding: 12px 10px 12px !important;
        margin: auto;
        width: 32%;
        max-height: 40px;
      }
    }
  }

  .confirmation-modal {
    br {
      display: block !important;
    }

    .fa-check {
      position: absolute;
      top: -8.9375vw;
      left: 50%;

      padding: 3.503vw 0;
      width: 17.875vw;

      background: #a4c73a;
      border: 2px solid #fff;
      border-radius: 50%;

      color: #fff;
      font-size: 10vw;

      -webkit-transform: translateX(-50%);
      -mz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    .confirmation-modal-content {
      padding: 12vw 5vw;
      width: 80vw;
      height: 65vw;

      font-family: 'Raleway Regular';
      font-size: 4.5vw;
      line-height: 6vw;
      color: #686868;
      text-transform: uppercase;

      .btn-green {
        bottom: 5vw;

        padding: 4vw 3vw !important;
        width: 70vw;

        font-size: 4vw;
      }
    }
  }
}
