page-user-customers {
  .title {
    margin-bottom: 15px;

    font-family: 'Raleway Medium';
    font-size: 22px;
    color: #444;
    text-align: left;

    .btn-green {
      display: inline-block;
      padding: 10px 10px 9px !important;
      margin-left: 15px;
      width: 105px;

      text-align: center;
    }
  }

  .description {
    font-family: 'Raleway Regular';
    font-weight: 600;
    color: #444;
    text-align: left;

    input[name="entry"] {
      margin: 0 5px;
      width: 22px;

      text-align: center;
    }
  }

  .loader {
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;

    margin: auto;
    width: 50px;
    height: 50px;

    font-size: 50px;
    color: #a4c73a;
  }

  .holder-accordion {
    position: relative;

    &.show {
      .accordion-body {
        padding: 7.5px 15px 15px;
        max-height: 155px;
      }
    }

    .dropdown {
      position: absolute;
      top: 10px;
      right: 10px;

      padding: 5px;

      font-family: 'Raleway Regular';
      font-size: 13px;
      line-height: 20px;
      color: #f59120;

      .fa {
        margin-left: 3px;
      }

      .dropdown-menu {
        position: absolute;
        top: 105%;
        right: 0;
        z-index: 999999;

        display: none;
        padding-left: 0;
        margin: 0;
        width: 175px;
        list-style: none;

        border: 1px solid #d7d7d7;
        border-radius: 4px;

        &:after {
          content: '';

          position: absolute;
          top: -7px;
          right: 15px;

          width: 12px;
          height: 12px;

          background-color: #fff;
          border: 1px solid #d7d7d7;
          border-color: #d7d7d7 transparent transparent #d7d7d7;

          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        li {
          padding: 10px 15px;

          font-family: 'Raleway SemiBold';
          font-size: 14px;
          color: #5c5c5c;

          background-color: #fff;
          border-bottom: 1px solid #d7d7d7;
          border-radius: 4px 4px 0 0;

          &:last-child {
            border: none;
            border-radius: 0 0 4px 4px;
          }
        }
      }
    }

    .accordion-header {
      padding: 15px;

      font-family: 'Raleway Regular';
      font-size: 15px;
      color: #a4c73a;

      background-color: #fafafa;
      border-radius: 2px;
    }

    .accordion-body {
      padding: 0 15px;
      margin-top: 7.5px;
      max-height: 0;
      overflow: hidden;

      -webkit-transition: .2s ease-in-out;
      -moz-transition: .2s ease-in-out;
      -ms-transition: .2s ease-in-out;
      -o-transition: .2s ease-in-out;
      transition: .2s ease-in-out;

      & > span {
        display: inline-block;
        width: 50%;
        vertical-align: top;

        &.list-label {
          color: #7a7a7a;

          & ~ .list-label {
            margin-top: 5px;
          }
        }

        &.list-data {
          font-family: 'Raleway Semibold';
          color: #444;

          & ~ .list-data {
            margin-top: 5px;
          }

          .not-active {
            color: #ff6363;
          }
        }
      }
    }
  }

  .confirmation-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;

    display: none;

    .confirmation-modal-overlay {
      width: 100%;
      height: 100%;

      background-color: rgba(0,0,0,.5);
    }

    .confirmation-modal-content {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      padding: 8vw 5vw;
      margin: auto;
      width: 90vw;
      height: 50vw;

      font-size: 5vw;
      text-align: center;

      background-color: #fff;
      border-radius: 3px;

      .name {
        color: #a4c73a;
      }

      .btn {
        display: inline-block;
        margin-top: 10vw;
        width: 45%;

        &.btn-green:not(.btn-okay) {
          float: left;
        }

        &.btn-gray {
          float: right;
        }

        &.btn-okay {
          margin: 10vw 20vw 0;
        }
      }
    }
  }
}
